Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

docs: update architecture documentation and add setup guide
  docs/ARCHITECTURE.md
  docs/SETUP_GUIDE.md
Due: prettier --write

docs: update documentation index with setup guide
  docs/INDEX.md
Due: prettier --write

chore: add Python test files to gitignore
  .gitignore
Due: none

chore: add and update pnpm lockfiles
  pnpm-lock.yaml
  server/pnpm-lock.yaml
Due: prettier --write

docs: remove Python references and update to TypeScript/Node.js
  docs/ARCHITECTURE.md
  docs/SETUP_GUIDE.md
  docs/SOCKET_MIGRATION.md
Due: prettier --write

docs: add Redis architecture and state management documentation
  docs/CACHING_AND_STATE.md
  docs/INDEX.md
Due: prettier --write

feat: add Redis dependencies and types
  server/.env.example
  server/package.json
  shared/types/index.ts
  shared/types/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: implement Redis configuration with tests
  server/src/config/__tests__/redis.test.ts
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: implement Redis service with tests
  server/src/services/RedisService.ts
  server/src/services/__tests__/RedisService.test.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: remove Python implementation after TypeScript migration
  server/socketio_server.py
  server/storage.py
  server/tests/test_socketio_server.py
Due: none

feat: implement reconnection functionality
  docs/API_WEBSOCKET_V2.md
  server/src/websocket/GameServer.ts
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update roadmap with priority tasks and version adjustments
  ROADMAP.md
Due: prettier --write

docs: update roadmap with detailed Redis migration tasks
  ROADMAP.md
Due: prettier --write

refactor: migrate GameServer to Redis
  server/src/websocket/GameServer.ts
  server/src/websocket/GameServer.ts.bak
Due: prettier --write, eslint --fix, vitest related --run

docs: update documentation for Redis migration
  docs/API_WEBSOCKET_V2.md
  docs/ARCHITECTURE.md
  docs/DISTRIBUTED_STATE.md
  docs/INDEX.md
Due: prettier --write

docs: add detailed game flow description to WebSocket API
  docs/API_WEBSOCKET_V2.md
Due: prettier --write

docs: update documentation for Redis-only architecture
  README.md
Due: prettier --write

docs: reorganize roadmap with detailed Redis and tournament tasks
  ROADMAP.md
Due: prettier --write

docs: update documentation for Redis migration
  docs/CONFIGURATION.md
  docs/api.md
  docs/ci-cd.md
  docs/deployment.md
Due: prettier --write

chore: update dependencies and configuration for MongoDB storage
  .github/workflows/ci.yml
  docker-compose.dev.yml
  docker-compose.yml
  server/.env.example
  server/package.json
Due: prettier --write

feat: implement game storage system
  ROADMAP.md
  server/src/config/storage.ts
  server/src/services/GameStorageService.ts
  shared/types/storage.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: update docker compose configuration
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

feat: add unified coordinate system
  shared/types/coordinates.ts
  shared/types/index.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: update game types to use unified coordinates
  shared/types/game.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add game state validation
  shared/validation/game.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add game event types
  server/src/types/events.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: update game handlers to use unified types and storage
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update docker compose configuration
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

refactor: update client code to use unified types
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add comprehensive data structures documentation
  docs/DATA_STRUCTURES.md
Due: prettier --write

fix: update docker compose configuration to use env files
  .env.dev
  .env.dev.example
  .env.example
  README.md
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

fix: update Docker configuration
  client/Dockerfile
  client/Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.yml
  server/Dockerfile
  server/Dockerfile.dev
Due: prettier --write

fix: update Dockerfile configurations
  client/Dockerfile
  server/Dockerfile
Due: none

fix: update monorepo Docker configuration
  client/Dockerfile
  package.json
  server/Dockerfile
Due: prettier --write

fix: update dependencies to stable versions
  client/package.json
  package.json
  server/package.json
Due: prettier --write

refactor: remove numpy-ts dependency
  server/package.json
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

Revert "refactor: remove numpy-ts dependency"
  server/package.json
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use npyjs instead of numpy-ts
  server/package.json
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update shared type definitions
  shared/types/game.ts
  shared/types/storage.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve type inconsistencies in shared package
  shared/types/game.ts
  shared/types/redis.ts
  shared/types/storage.ts
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
