Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

fix: add force flag to pnpm install and remove redundant install
  server/start-server.sh
Due: none

fix: improve dependency installation process and permissions handling
  docker-compose.dev.yml
  server/start-server.sh
Due: prettier --write

fix: move permissions handling to docker-compose and simplify dependency installation
  docker-compose.dev.yml
  server/start-server.sh
Due: prettier --write

docker compose minor update
  docker-compose.dev.yml
Due: prettier --write

fix: update shared package exports to match existing types
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update TypeScript configuration and imports in shared package
  shared/src/index.ts
  shared/tsconfig.json
  shared/types/game.ts
  shared/types/player.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: TypeScript compilation errors in server
  server/src/index.ts
  server/src/services/GameLogicService.ts
  server/tsconfig.json
  shared/types/replay.ts
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve TypeScript configuration and imports between packages
  server/tsconfig.json
  shared/src/index.ts
  shared/tsconfig.json
  shared/types/game.ts
  shared/types/player.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports in replay and websocket types
  shared/types/replay.ts
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve TypeScript configuration for better package isolation
  server/tsconfig.json
  shared/package.json
  shared/tsconfig.json
Due: prettier --write

fix: improve server dev script and add development env file
  server/.env.development
  server/package.json
Due: prettier --write

fix: improve Docker setup and exclude tests from type checking
  server/package.json
  server/start-server.sh
  server/tsconfig.build.json
Due: prettier --write

fix: add reflect-metadata dependency
  server/package.json
Due: prettier --write

fix: improve server startup script
  server/start-server.sh
Due: none

fix: use npx to run ts-node-dev in server startup script
  server/start-server.sh
Due: none

fix: use absolute paths in ts-node-dev command
  server/start-server.sh
Due: none

fix: optimize dependency installation in server startup script
  server/start-server.sh
Due: none

fix: improve server startup script and TypeScript configuration
  server/start-server.sh
Due: none

fix: correct npyjs import to match type definitions
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update npyjs usage and type definitions to use class instance
  server/src/services/GameStorageService.ts
  server/src/types/npyjs.d.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve npyjs usage with proper type definitions and error handling
  server/src/services/GameStorageService.ts
  server/src/types/npyjs.d.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add proper GameDetails structure handling in storage service
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: switch from npyjs to JSON for game data storage
  server/src/services/GameStorageService.ts
  server/src/types/npyjs.d.ts
Due: prettier --write, eslint --fix, vitest related --run

remove: npyjs dependency
  server/package.json
Due: prettier --write

refactor: simplify game data storage with flat JSON files and improved documentation
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: restore hierarchical date-based storage with improved file search
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update Redis config to use REDIS_URL and improve error handling
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve Redis client configuration and type definitions
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: correct Redis client initialization format
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: parse Redis URL into connection options object
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: remove unsupported reconnectOnError option from Redis config
  server/src/config/redis.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve Docker healthcheck configuration for server container
  docker-compose.yml
Due: prettier --write

fix: simplify Docker healthcheck using curl and install curl in container
  docker-compose.yml
  server/Dockerfile
Due: prettier --write

fix: simplify Docker healthcheck in development environment
  docker-compose.dev.yml
Due: prettier --write

fix: simplify client healthcheck and use curl consistently
  docker-compose.dev.yml
Due: prettier --write

fix: avoid interactive prompts in client container setup
  docker-compose.dev.yml
Due: prettier --write

fix: use correct non-interactive mode for pnpm installations
  docker-compose.dev.yml
Due: prettier --write

fix: improve client container configuration and pnpm installation
  docker-compose.dev.yml
Due: prettier --write

fix: move socket.io-client from devDependencies to dependencies
  client/package.json
Due: prettier --write

fix: remove unused BOARD_SIZE constant and use board size from game state
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
