Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

feat: add IScores interface and improve type safety in scores handling
  server/src/services/GameStorageService.ts
  server/src/websocket/handlers/gameHandlers.ts
  shared/types/game.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve type compatibility in MockSocket implementation
  client/src/test/socket-test-utils.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: unify score format to use player1/player2 consistently in storage types
  server/src/services/GameService.ts
  shared/types/storage.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add project metrics documentation
  docs/METRICS.md
Due: prettier --write

fix: use player1/player2 format for scores in GameStorageService
  server/src/services/GameStorageService.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update score format documentation to use player1/player2 consistently
  docs/DATA_STRUCTURES.md
  docs/STORAGE.md
Due: prettier --write

fix: improve type safety and event listener handling in socket tests
  client/src/hooks/__tests__/useGameHistory.test.ts
  client/src/test/socket-test-utils.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update Docker configuration for client build
  Dockerfile.client
  docker-compose.yml
Due: prettier --write

chore: add env files to version control for easier deployment
  .env
  .gitignore
Due: none

fix: improve service dependencies and add healthcheck for server
  docker-compose.yml
Due: prettier --write

fix: update server service configuration for development
  docker-compose.yml
Due: prettier --write

fix: separate nginx configurations for client and main services
  Dockerfile.client
  docker-compose.yml
  nginx.client.conf
Due: prettier --write

fix: correct TypeScript configurations and build process
  docker-compose.yml
  server/tsconfig.json
  shared/tsconfig.json
Due: prettier --write

fix: update client build process to handle shared package dependencies
  Dockerfile.client
Due: none

fix: update TypeScript configuration and build process for server
  docker-compose.yml
  server/tsconfig.json
Due: prettier --write

chore: simplify development setup with Vite and ts-node-dev
  docker-compose.dev.yml
Due: prettier --write

fix: improve development setup with proper permissions and volumes
  docker-compose.dev.yml
Due: prettier --write

pnpm lock files
  client/pnpm-lock.yaml
  server/pnpm-lock.yaml
Due: prettier --write

fix: proper user switching in development containers
  docker-compose.dev.yml
Due: prettier --write

fix: update Vite configuration for proper HMR in Docker
  client/vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add request logging for both client and server, add health endpoint
  client/vite.config.ts
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve pnpm installation in Docker
  docker-compose.dev.yml
Due: prettier --write

feat: add health checks for all services
  docker-compose.dev.yml
Due: prettier --write

fix: adjust permissions handling to exclude .git directory
  docker-compose.dev.yml
Due: prettier --write

fix: improve health checks and service dependencies
  docker-compose.dev.yml
Due: prettier --write

feat: add detailed logging for server startup and request handling
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve network configuration and add CORS support
  docker-compose.dev.yml
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: add cors dependency
  server/package.json
Due: prettier --write

fix: remove frozen-lockfile flag to update dependencies
  docker-compose.dev.yml
Due: prettier --write

fix: add detailed logging and debug mode for server
  docker-compose.dev.yml
  server/package.json
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

lock file updated
  server/pnpm-lock.yaml
Due: prettier --write

fix: correct TypeScript check command in development setup
  docker-compose.dev.yml
Due: prettier --write

fix: correct shell command syntax in docker-compose.dev.yml
  docker-compose.dev.yml
Due: prettier --write

feat: add extensive logging and diagnostic endpoints
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add detailed startup script for server
  docker-compose.dev.yml
  server/start-server.sh
Due: prettier --write

fix: set server ready flag after successful startup
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve dependency installation in start-server script
  server/start-server.sh
Due: none

fix: add diagnostic information to start-server script
  server/start-server.sh
Due: none

fix: add extensive logging to server startup process
  docker-compose.dev.yml
Due: prettier --write

fix: improve dependency installation process in start script
  server/start-server.sh
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
