Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "vitest related --run"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: improve turn validation in useMultiplayerGame hook
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve WebSocket connection handling
  client/src/hooks/useMultiplayerGame.ts
  client/src/services/socket.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add cyber-styled buttons and improve navigation
  client/src/components/Navbar.tsx
  client/src/components/ui/cyber-button.tsx
  client/src/pages/LandingPage.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve black screen issue - Fix conflicting styles in index.css - Add CyberButton component - Fix Navbar imports - Fix userAction logger signature
  client/src/components/Navbar.tsx
  client/src/components/ui/cyber-button/CyberButton.tsx
  client/src/components/ui/cyber-button/index.ts
  client/src/index.css
  client/src/utils/logger.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update nginx configuration for Vite dev server - Add explicit proxying for /node_modules/ and /src/ paths - Update WebSocket configuration for HMR
  nginx.client.conf
  nginx.conf
Due: none

fix: resolve WebSocket type errors - Add WebSocketErrorCode enum to server types - Fix socket events type definitions - Update GameServer to match event types
  server/src/types/connection.ts
  server/src/types/events.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add explicit WebSocketErrorCode re-export in shared.ts
  server/src/shared.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: import WebSocketErrorCode type directly in shared.ts
  server/src/shared.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: use WebSocketErrorCode from shared types - Remove duplicate WebSocketErrorCode definition from server - Import WebSocketErrorCode from shared/types/events - Update imports in shared.ts
  server/src/shared.ts
  server/src/types/connection.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: create local copy of WebSocket error types - Add local copy of WebSocketErrorCode enum - Update imports to use local types - Keep in sync with shared/types/events.ts
  server/src/shared.ts
  server/src/types/connection.ts
  server/src/types/errors.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: synchronize server shared.ts with client version - Copy shared types from client implementation - Add proper WebSocketErrorCode import - Ensure types consistency between client and server
  server/src/shared.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify development setup - Remove nginx from development setup - Configure Vite to proxy WebSocket directly - Update client socket configuration - Simplify docker-compose configuration
  client/src/services/socket.ts
  client/vite.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: wait for WebSocket connection before creating game - Check connection state before game creation - Add connection status display - Update initial status message
  client/src/pages/CreateGame.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: add missing dependencies to game creation effect - Add createGame callback to effect dependencies - Add connectionState to effect dependencies - Add gameId to effect dependencies
  client/src/pages/CreateGame.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: add comprehensive logging for game creation flow
  client/src/hooks/useMultiplayerGame.ts
  client/src/pages/CreateGame.tsx
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve MongoDB authentication issues
  .env
  init-mongo.js
Due: prettier --write, eslint --fix, vitest related --run

fix: improve container networking and WebSocket proxy
  docker-compose.yml
Due: prettier --write

fix: improve service initialization and health checks
  docker-compose.yml
Due: prettier --write

fix: remove duplicate healthcheck parameters in MongoDB service
  docker-compose.yml
Due: prettier --write

refactor: remove hot reload configuration from docker-compose.yml
  docker-compose.yml
Due: prettier --write

docs: remove outdated database.md in favor of DATABASE.md
  docs/database.md
Due: prettier --write

fix: correct client command in docker-compose.yml to use dev script
  docker-compose.yml
Due: prettier --write

fix: correct MongoDB authentication setup and network binding
  docker-compose.yml
  init-mongo.js
Due: prettier --write, eslint --fix, vitest related --run

fix: remove extra semicolon in useMultiplayerGame.ts that caused build error
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add missing closing parenthesis in joinGame Promise in useMultiplayerGame.ts
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: synchronize game IDs between Redis and MongoDB
  server/src/services/GameStorageService.ts
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: clarify game identifiers and their synchronization
  docs/API_WEBSOCKET_V2.md
  docs/DATABASE.md
Due: prettier --write

fix: update GameService to handle gameId and code separately
  server/src/services/GameService.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: enhance game creation and joining logs
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve TypeScript errors in logging system
  server/src/services/GameService.ts
  server/src/utils/logger.ts
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve game joining error handling - Separate game finding from state validation - Add dedicated findGame method to GameService - Enhance error logging with search key info
  client/src/hooks/useMultiplayerGame.ts.bak
  server/src/services/GameService.ts
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: reduce log noise from health checks - Skip logging for health check endpoint requests - Remove console.log calls from health check handler
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve game joining and logging - Normalize game codes to uppercase - Add detailed logging for game joining process - Handle case-sensitive game code lookup - Remove duplicate connection logs
  server/src/index.ts
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: standardize game ID case handling - Always store game IDs in uppercase - Convert input game IDs to uppercase before lookup - Update game finding and joining to be case-insensitive
  server/src/services/GameService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve game joining and UI issues - Fix background animation color format error - Standardize game code generation in uppercase - Fix case sensitivity in game joining
  client/src/components/backgrounds/DeepSpaceBackground.tsx
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update game state validation - Allow null values in board cells along with Player enum values - Update IBoard type to reflect null possibility - Update documentation for board cell values
  shared/types/coordinates.ts
  shared/validation/game.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: handle null board cell values in getBoardCell function - Return 0 (Player.None) for null values to maintain compatibility with existing code
  shared/types/coordinates.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: redesign game rules page with Tron & Cyberpunk 2077 & Alita visual style
  client/src/components/backgrounds/CyberRulesBackground.tsx
  client/src/pages/GameRules.tsx
  docs/UI_STYLES_AND_TASKS.md
Due: prettier --write, eslint --fix, vitest related --run

feat: enhance game rules background with depth and layered effects
  client/src/components/backgrounds/CyberRulesBackground.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

fix: improve layout structure and z-index ordering
  client/src/components/layout/Layout.tsx
  client/src/components/layout/Navbar.tsx
  client/src/pages/GameRules.tsx
Due: prettier --write, eslint --fix, vitest related --run
