Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

chore: add .env files to .gitignore
  .gitignore
Due: none

fix: update TypeScript module resolution for better ESM compatibility
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: ensure shared package is properly linked in server container
  Dockerfile.server
Due: none

fix: improve module resolution and shared package imports in server
  .env
  Dockerfile.server
  server/src/websocket/GameServer.ts
  shared/package.json
  shared/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: update TypeScript configuration and improve Docker build
  Dockerfile.server
  shared/tsconfig.json
Due: prettier --write

fix: correct pnpm commands in Dockerfile
  Dockerfile.server
Due: none

fix: simplify Docker build process for better dependency management
  Dockerfile.server
Due: none

fix: move shared code directly into server to simplify dependencies
  Dockerfile.server
  server/package.json
  server/src/shared.ts
  server/src/validation/game.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: move shared code directly into client to simplify dependencies
  Dockerfile.client
  client/package.json
  client/src/shared.ts
  client/src/validation/game.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve ESM and TypeScript loader issues
  server/package.json
  server/tsconfig.json
Due: prettier --write

fix: simplify server configuration by switching to CommonJS
  Dockerfile.server
  server/package.json
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: add explicit type for player parameter in find callbacks
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports to use local shared.ts instead of @ctor-game/shared
  server/src/config/redis.ts
  server/src/services/GameLogicService.ts
  server/src/services/GameService.ts
  server/src/services/GameStorageService.ts
  server/src/services/RedisService.ts
  server/src/websocket/handlers/gameHandlers.ts
  server/src/websocket/handlers/replayHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update remaining imports to use local shared.ts
  server/src/config/redis.ts
  server/src/services/__tests__/RedisService.test.ts
  server/src/types/events.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve MongoDB connection handling with retries and lazy initialization
  .env
  server/src/services/GameService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports to use local shared.ts in client components
  client/src/components/Game.tsx
  client/src/components/GameCell.tsx
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports to use local shared.ts in client hooks
  client/src/hooks/useGameHistory.ts
  client/src/hooks/useReplay.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: handle GameJoined event to properly set player number for second player
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add detailed logging for client and server components
  client/src/components/Game.tsx
  client/src/hooks/useMultiplayerGame.ts
  client/src/utils/logger.ts
  server/src/utils/logger.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add detailed game flow documentation with state diagrams and interaction flows
  docs/GAME_FLOW.md
Due: prettier --write

docs: add user interface documentation with screen layouts and navigation flow
  docs/USER_INTERFACE.md
Due: prettier --write

refactor: split monolithic Game component into separate page components according to UI documentation
  client/src/App.tsx
  client/src/components/modals/DisconnectionOverlay.tsx
  client/src/components/modals/Settings.tsx
  client/src/pages/CreateGame.tsx
  client/src/pages/GameBoard.tsx
  client/src/pages/JoinGame.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/WaitingRoom.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: add cyberpunk style landing page with animated torus background
  client/src/components/backgrounds/CyberTorusBackground.tsx
  client/src/pages/LandingPage.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add implementation status tracking and game rules page
  client/src/App.tsx
  client/src/pages/GameRules.tsx
  docs/IMPLEMENTATION_STATUS.md
Due: prettier --write, eslint --fix, vitest related --run

feat: add Iron City style loading screen inspired by Alita for game creation
  client/src/components/backgrounds/IronCityBackground.tsx
  client/src/pages/CreateGame.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: add Deep Space style join game screen inspired by Beyond the Aquila Rift
  client/src/components/backgrounds/DeepSpaceBackground.tsx
  client/src/pages/JoinGame.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add neon cyberpunk waiting room with 13th Floor and Tokyo aesthetics
  client/src/components/backgrounds/NeonGridBackground.tsx
  client/src/components/display/NeonBillboard.tsx
  client/src/pages/WaitingRoom.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

docs: add comprehensive UI styles guide and remaining tasks list
  docs/UI_STYLES_AND_TASKS.md
Due: prettier --write

feat: implement TRON-inspired game board styling with glowing effects and animations
  client/src/components/GameCell.tsx
  client/src/pages/GameBoard.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add turn timer and piece capture animations
  client/src/components/TurnTimer.tsx
  client/src/pages/GameBoard.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add The Witness-inspired game over screen
  client/src/components/GameOverScreen.tsx
  client/src/pages/GameBoard.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add Zima Blue-inspired settings screen
  client/src/components/SettingsForm.tsx
  client/src/pages/Settings.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run

feat: add page transitions and unified navigation
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/components/PageTransition.tsx
  client/src/components/layout/Layout.tsx
  client/src/pages/LandingPage.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: add visual move hints and capture animations to GameCell component
  client/src/components/GameCell.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: integrate visual move hints across game components
  client/src/components/Game.tsx
  client/src/components/GameBoard.tsx
Due: prettier --write, eslint --fix, vitest related --run

docs: add visual effects documentation
  docs/visual-effects.md
Due: prettier --write

feat: enhance error handling and connection management
  client/src/hooks/useMultiplayerGame.ts
  shared/types/events.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update roadmap and status for error handling improvements
  CHANGELOG.md
  CURRENT_STATUS.md
  ROADMAP.md
Due: prettier --write

refactor: unify and document game types
  shared/types/coordinates.ts
  shared/types/game.ts
  src/types/game.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add AI service and legacy features documentation
  client/src/services/ai/__tests__/index.test.ts
  client/src/services/ai/index.ts
  docs/LEGACY_FEATURES.md
  shared/types/ai.ts
  shared/types/index.ts
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
