Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "vitest related --run"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: update package exports and imports
  fix_imports_paths.sh
  shared/package.json
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: switch to direct imports from shared package
  fix_imports_js.sh
  server/src/websocket/GameServer.ts
  shared/package.json
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: remove outdated information about type duplication
  docs/TESTING_AND_SHARED.md
Due: prettier --write

docs: update import documentation for NodeNext module resolution
  docs/IMPORTS.md
Due: prettier --write

docs: update TTL configuration for event queue
  docs/CACHING_AND_STATE.md
Due: prettier --write

refactor(types): introduce simplified type system with composition
  shared/MIGRATION.md
  shared/src/types/core/base.ts
  shared/src/types/game/core.ts
  shared/src/types/index.ts.new
  shared/src/types/network/core.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(GameService): migrate to new type system
  server/src/services/GameService.new.ts
  shared/src/types/storage/mongodb.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(GameLogicService): migrate to new type system
  server/src/services/GameLogicService.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(utils): migrate utilities to new type system
  shared/src/utils/coordinates.new.ts
  shared/src/utils/game.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(websocket): migrate WebSocket handling to new type system
  server/src/websocket/GameServer.new.ts
  server/src/websocket/types.ts
  shared/src/types/network/websocket.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(redis): migrate Redis handling to new type system
  server/src/services/RedisService.new.ts
  shared/src/types/storage/redis.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add type system migration documentation and status
  README.md
  docs/TYPE_SYSTEM_MIGRATION.md
Due: prettier --write

docs: add detailed pending tasks list
  docs/PENDING_TASKS.md
  docs/TYPE_SYSTEM_MIGRATION.md
Due: prettier --write

refactor(types): reorganize type system with modular structure
  shared/src/types/core/primitives.ts
  shared/src/types/game/types.ts
  shared/src/types/geometry/types.ts
  shared/src/types/index.new.ts
  shared/src/types/minimal.ts
  shared/src/types/network/types.ts
  shared/src/types/storage/types.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: ignore generated diagram files
  .gitignore
Due: none

build: add type checking infrastructure
  shared/check_types.sh
  shared/tsconfig.minimal.json
  shared/tsconfig.new.json
Due: prettier --write

docs: update type system migration status
  docs/TYPE_SYSTEM_MIGRATION.md
Due: prettier --write

feat(types): add new event types and update client hooks
  shared/src/types/network/events.new.ts
  src/hooks/useSocket.ts
  src/types/socket.ts
Due: prettier --write, eslint --fix, vitest related --run

feat(server): implement EventService and update GameService
  server/src/services/EventService.ts
  server/src/services/GameService.new.ts
Due: prettier --write, eslint --fix, vitest related --run

feat(websocket): add event-based game handlers
  server/src/websocket/GameServer.events.ts
  server/src/websocket/handlers/gameHandlers.new.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: correct import statement in events.ts
  shared/src/types/network/events.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(types): improve type safety of IGameEvent interface with WebSocketEvents enum
  shared/src/types/network/events.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add comprehensive event system documentation
  docs/EVENT_SYSTEM.md
Due: prettier --write

refactor(websocket): migrate to new GameServer implementation with improved event system
  server/src/websocket/index.ts
Due: prettier --write, eslint --fix, vitest related --run

feat(redis): implement advanced TTL strategy with game state awareness
  docs/REDIS_TTL.md
  server/src/config/redis.ts
  server/src/services/TTLStrategy.ts
  shared/src/types/redis/ttl.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add comprehensive Redis service documentation
  docs/REDIS_SERVICE.md
Due: prettier --write

refactor(client): update client types to use shared type system and add documentation
  client/src/types/connection.new.ts
  client/src/types/errors.new.ts
  docs/CLIENT_ARCHITECTURE.md
Due: prettier --write, eslint --fix, vitest related --run

refactor(client): implement type-safe action queue with shared types
  client/src/services/ActionQueue.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update tasks status and add detailed progress metrics
  docs/PENDING_TASKS.md
Due: prettier --write

fix(game-logic): prevent moves after game over and simplify scores structure
  server/src/services/GameLogicService.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add gameOver check to move validation rules
  docs/GAME_MECHANICS.md
Due: prettier --write

docs(api): update REST API types to match WebSocket V2
  docs/API_REST.md
Due: prettier --write

docs(api): update API examples to use new types
  docs/API_REST.md
Due: prettier --write

feat(types): add new storage metadata types
  shared/src/types/storage/metadata.new.ts
Due: prettier --write, eslint --fix, vitest related --run

feat(storage): create new version of GameStorageService
  server/src/services/GameStorageService.new.ts
Due: prettier --write, eslint --fix, vitest related --run
