Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "vitest related --run"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

feat(game): create new version of GameService
  server/src/services/GameService.next.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update storage documentation for v2
  docs/IMPLEMENTATION_STATUS.md
  docs/STORAGE_V2.md
Due: prettier --write

docs: update pending tasks after storage layer completion
  docs/PENDING_TASKS.md
Due: prettier --write

docs: add comprehensive database structures documentation
  docs/DATABASE_STRUCTURES.md
Due: prettier --write

docs: add updated WebSocket V2 API documentation
  docs/WEBSOCKET_API_V2.md
Due: prettier --write

docs: add comprehensive environment configuration guide
  docs/ENVIRONMENT_CONFIG.md
Due: prettier --write

docs: update README and ROADMAP with MVP focus
  README.md
  ROADMAP.md
Due: prettier --write

docs: update status and contributing docs with MVP focus
  CONTRIBUTING.md
  CURRENT_STATUS.md
Due: prettier --write

docs: add pending tasks tracking file
  pending_tasks.md
Due: prettier --write

fix: update import in coordinates.new.ts to use geometry types\n\n- Replace import from core/base.js with geometry/types.js\n- Use correct source for IPosition and ISize types
  shared/src/utils/coordinates.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add type system analysis and update migration plan
  docs/TYPE_SYSTEM_ANALYSIS.md
  docs/TYPE_SYSTEM_MIGRATION.md
Due: prettier --write

feat(validation): add new type-safe validation system
  shared/src/validation/game.new.ts
  shared/src/validation/primitives.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(utils): migrate to new type system
  shared/src/utils/coordinates.ts
  shared/src/utils/game.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update migration progress
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

refactor(validation): migrate to new type system
  shared/src/validation/game.ts
  shared/src/validation/primitives.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update migration status and analysis
  docs/TYPE_SYSTEM_ANALYSIS.md
  docs/TYPE_SYSTEM_MIGRATION.md
Due: prettier --write

feat(shared): update type system and documentation
  shared/src/index.new.ts
  shared/src/utils/scores.new.ts
Due: prettier --write, eslint --fix, vitest related --run

feat(types): add new redis type definitions
  shared/src/types/redis/config.new.ts
  shared/src/types/redis/events.new.ts
  shared/src/types/redis/session.new.ts
  shared/src/types/redis/state.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(scores): migrate to new type system
  shared/src/utils/scores.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(metadata): migrate storage metadata to new type system
  shared/src/types/storage/metadata.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(state): create new version of state types
  shared/src/types/state.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(game): create new version of game state types
  shared/src/types/game/state.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add migration status tracking table
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

refactor(moves): create new version of game moves types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/game/moves.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(players): create new version of player types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/game/players.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(validation): create new version of game validation types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/validation/game.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(network): create new version of network types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/base/network.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update websocket migration status
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

docs: update events migration status
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

docs: add type system dependencies analysis
  docs/type_dependencies.md
Due: prettier --write

refactor(players): update to use centralized types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/game/players.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(moves): update to use centralized types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/game/moves.new.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor(network): update base network types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/base/network.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: confirm websocket.new.ts compatibility
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

refactor: update state and validation types
  docs/TYPE_SYSTEM_ANALYSIS.md
  shared/src/types/game/state.new.ts
  shared/src/types/validation/game.new.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add final migration steps and tasks
  docs/TYPE_SYSTEM_ANALYSIS.md
Due: prettier --write

chore: update project configuration files for new type system
  client/pnpm-lock.yaml
  client/tsconfig.json
  client/tsconfig.node.json
  pnpm-lock.yaml
  server/package.json
  server/pnpm-lock.yaml
  server/tsconfig.json
  shared/package.json
  shared/pnpm-lock.yaml
  shared/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore: remove temporary migration files
  shared/src/index.new.ts
  shared/src/utils/coordinates.new.ts
  shared/src/utils/game.new.ts
  shared/src/utils/scores.new.ts
  shared/src/validation/game.new.ts
  shared/src/validation/primitives.new.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: add backup of pre-migration shared components
  backup/shared/src/index.ts
  backup/shared/src/scores.ts
  backup/shared/src/utils/coordinates.ts
  backup/shared/src/utils/game.ts
  backup/shared/src/validation/game.ts
  backup/shared/src/validation/primitives.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: add deep-clean script for project maintenance
  scripts/deep-clean.sh
Due: none
