Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

fix: use correct import paths for shared package
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: fix TypeScript errors by adding explicit type annotations
  client/src/components/Game.tsx
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: import WebSocket types directly from websocket module
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: change moduleResolution to node and revert import path
  client/src/hooks/useMultiplayerGame.ts
  shared/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: use direct imports instead of barrel file to fix build issues
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports paths and add preserveConstEnums to fix build issues
  client/src/hooks/useMultiplayerGame.ts
  shared/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: add .js extension to shared package imports
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update client imports to use @ctor-game/shared package
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update shared package exports to use barrel file
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: include validation directory in shared tsconfig
  shared/tsconfig.json
Due: prettier --write

feat: add clean script for cache and build artifacts
  package.json
  scripts/clean.sh
Due: prettier --write

refactor: simplify clean script to use only pnpm
  scripts/clean.sh
Due: none

fix: simplify shared package imports in client
  client/src/hooks/useMultiplayerGame.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve module resolution for @ctor-game/shared package
  client/tsconfig.json
  client/vite.config.ts
  shared/package.json
Due: prettier --write, eslint --fix, vitest related --run

fix: update module imports and build configuration
  client/pnpm-lock.yaml
  client/src/components/GameBoard.tsx
  client/src/components/GameCell.tsx
  client/src/hooks/__tests__/useGameHistory.test.ts
  client/src/hooks/__tests__/useReplay.test.ts
  client/src/hooks/useGameHistory.ts
  client/src/hooks/useMultiplayerGame.test.ts
  client/src/hooks/useReplay.ts
  client/src/types/game.d.ts
  client/tsconfig.json
  client/vite.config.ts
  pnpm-lock.yaml
  scripts/update_imports.sh
  server/pnpm-lock.yaml
  shared/types/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update shared package configuration for better module resolution
  shared/package.json
  shared/tsconfig.json
Due: prettier --write

fix: simplify shared package exports configuration to fix module resolution
  shared/package.json
Due: prettier --write

refactor: consolidate all types in shared/src/index.ts for better module resolution
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add replay types to shared/src/index.ts
  shared/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update import path for shared types in Game component
  client/src/components/Game.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: update all import paths from @ctor-game/shared/types to @ctor-game/shared
  server/src/config/redis.ts
  server/src/services/GameLogicService.ts
  server/src/services/GameService.ts
  server/src/services/GameStorageService.ts
  server/src/services/RedisService.ts
  server/src/services/__tests__/RedisService.test.ts
  server/src/types/events.ts
  server/src/websocket/GameServer.ts
  server/src/websocket/handlers/gameHandlers.ts
  server/src/websocket/handlers/replayHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve module resolution issues in server and shared packages
  server/src/services/GameStorageService.ts
  server/tsconfig.json
  shared/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve TypeScript configuration issues in server package
  server/src/services/RedisService.ts
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: update TypeScript path mappings for @ctor-game/shared module resolution
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write

fix: update module system to ESM and fix shared package imports
  server/package.json
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write

fix: update TypeScript configuration for better module resolution and ESM support
  server/tsconfig.build.json
  shared/tsconfig.json
Due: prettier --write

fix: improve TypeScript project references and module resolution
  server/tsconfig.build.json
  server/tsconfig.json
  shared/package.json
  shared/tsconfig.json
Due: prettier --write

fix: update TypeScript configuration to properly include shared package files
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write

fix: add --force flag to pnpm install commands to prevent interactive prompts in Docker
  docker-compose.yml
Due: prettier --write

fix: add --force flag to all pnpm install commands to prevent interactive prompts in development environment
  docker-compose.dev.yml
  server/start-server.sh
Due: prettier --write

fix: add --esm flag to ts-node-dev for proper ES modules support
  server/package.json
  server/start-server.sh
Due: prettier --write

fix: improve ES modules configuration for development environment
  server/package.json
  server/start-server.sh
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write

fix: update TypeScript module configuration to match moduleResolution in server
  server/tsconfig.build.json
Due: prettier --write

fix: update TypeScript configuration and imports for proper ESM support
  shared/src/index.ts
  shared/tsconfig.json
  shared/validation/game.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports in server/src/index.ts for ESM support
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports in GameServer.ts for ESM support
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update shared package exports for ESM module resolution
  shared/package.json
Due: prettier --write

fix: add explicit type annotations to fix implicit any errors
  server/src/services/GameLogicService.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update event handlers types and imports in websocket handlers
  server/src/types/events.ts
  server/src/websocket/handlers/gameHandlers.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update imports in websocket handlers for ESM support
  server/src/websocket/handlers/historyHandlers.ts
  server/src/websocket/handlers/replayHandlers.ts
  server/src/websocket/index.ts
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
