Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

fix: correct singleton pattern implementation in GameServer to prevent double initialization
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: implement proper singleton pattern for GameServer with private constructor and getInstance method
  server/src/index.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: remove tee from server command to prevent log duplication
  docker-compose.yml
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use correct imports from @ctor-game/shared package instead of relative paths
  client/src/services/ActionQueue.ts
  client/src/services/ErrorRecoveryManager.ts
  client/src/services/GameStateManager.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: correct shared package alias path in vite config
  client/vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use local types from client/src/shared and types/connection instead of @ctor-game/shared package
  client/src/services/ActionQueue.ts
  client/src/services/ErrorRecoveryManager.ts
  client/src/services/GameStateManager.ts
  client/vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add missing error and action types in client code
  client/src/services/ActionQueue.ts
  client/src/services/ErrorRecoveryManager.ts
  client/src/services/GameStateManager.ts
  client/src/shared.ts
  client/src/types/errors.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add connectionState update in GameJoined event handler
  client/src/services/GameStateManager.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update documentation with connection state handling details
  CHANGELOG.md
  docs/GAME_FLOW.md
  docs/STATE_MANAGEMENT_MIGRATION.md
Due: prettier --write

fix: add CONNECTING phase to GamePhase enum and update state transitions
  client/src/validation/stateValidation.ts
  shared/types/game.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add phase field to GameJoined event and sync GamePhase enum between client and server
  server/src/types/state.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: add phase field to GameJoined, GameStarted and GameStateUpdated event types
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: sync WebSocket event types between client and server
  server/src/shared.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use shared types from @ctor-game/shared package instead of local copies
  server/src/shared.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use phase from GameJoined event payload instead of hardcoded value
  client/src/services/GameStateManager.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: restore local shared types instead of importing from @ctor-game/shared package
  server/src/shared.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: update state machine and websocket events documentation
  docs/state-machine.md
  docs/websocket-events.md
Due: prettier --write

docs: update game flow documentation with new state machine and event protocol
  docs/GAME_FLOW.md
Due: prettier --write

fix: allow null currentPlayer in initial game states
  client/src/types/gameManager.ts
  client/src/validation/stateValidation.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: sync game phase transitions with actual game states, replace FINISHED with GAME_OVER in allowed transitions
  client/src/validation/stateValidation.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve error handling in WaitingRoom component by adding delay before navigation and displaying global errors
  client/src/pages/WaitingRoomNew.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: enhance WebSocket message logging with directional indicators and room messages tracing
  server/src/utils/logger.ts
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add comprehensive state transitions documentation and enhance server logging
  docs/state_transitions.md
  server/src/utils/logger.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve state validation and recovery for join game operation
  client/src/validation/stateValidation.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve TypeScript typing for WebSocket event handling and room messaging
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve WebSocket event typing with generics and proper parameter types
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: simplify WebSocket event handling typings to resolve build errors
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve WebSocket event handling typings to resolve build errors
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: use Parameters and ReturnType utility types for WebSocket event handlers
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: simplify WebSocket event handling typings to match Socket.IO signatures
  server/src/websocket/GameServer.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve WebSocket event typing with generics and proper parameter types
  server/src/websocket/GameServer.ts
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add important note about shared types synchronization
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix: add missing WebSocketErrorCode import in websocket types
  shared/types/websocket.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve circular dependencies in shared types
  server/src/shared.ts
  server/src/types/connection.ts
  server/src/types/errors.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add detailed shared types organization documentation
  CONTRIBUTING.md
Due: prettier --write

refactor: inline shared types in client and server to avoid circular dependencies
  client/src/shared.ts
  server/src/shared.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: add detailed guide for shared types organization and synchronization
  docs/TESTING_AND_SHARED.md
Due: prettier --write

fix: update Dockerfile configurations for source package architecture
  client/Dockerfile
  server/Dockerfile
Due: none

fix: update client Dockerfile for source package workspace dependencies
  Dockerfile.client
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
