Repository vcb88/ctorgame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

refactor: separate shared package build into dedicated service in docker-compose
  docker-compose.dev.yml
  server/start-server.sh
Due: prettier --write

fix: improve shared service setup and permissions in docker-compose
  docker-compose.dev.yml
Due: prettier --write

fix: add .js extensions to imports and explicit type annotations
  server/src/services/GameService.ts
  server/src/services/RedisService.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: correct move record format and paths in TypeScript configuration
  server/src/websocket/handlers/gameHandlers.ts
  server/tsconfig.build.json
Due: prettier --write, eslint --fix, vitest related --run

feat: add simple docker setup for development
  Dockerfile.simple
  docker-compose.simple.yml
Due: prettier --write

chore: update gitignore to exclude shared package build files
  .gitignore
Due: none

feat: split docker services and add proper entrypoint
  Dockerfile.simple
  docker-compose.simple.yml
  docker-entrypoint.sh
Due: prettier --write

fix: add global TypeScript installation to Docker builds
  Dockerfile.client
  docker-compose.yml
Due: prettier --write

fix: add TypeScript installation and improve dependency management in Docker setup
  Dockerfile.simple
  docker-entrypoint.sh
Due: none

fix: refactor Docker setup to use clean::rebuild and run commands from root directory
  Dockerfile.simple
  docker-compose.simple.yml
  docker-entrypoint.sh
Due: prettier --write

fix: improve Docker setup by installing dependencies during image build
  Dockerfile.simple
  docker-compose.simple.yml
  docker-entrypoint.sh
Due: prettier --write

fix: use pnpm workspace filters for building shared package
  Dockerfile.simple
  docker-entrypoint.sh
Due: none

fix: update ports and use full package names in Docker setup
  Dockerfile.simple
  docker-compose.simple.yml
  docker-entrypoint.sh
Due: prettier --write

fix: explicitly specify tsconfig.json in shared package build and add debug logging
  docker-entrypoint.sh
  shared/package.json
Due: prettier --write

fix: correct server package name and add ts-node-dev global installation
  Dockerfile.simple
  docker-entrypoint.sh
  server/package.json
Due: prettier --write

fix: improve Docker setup to properly handle node_modules and package installation
  Dockerfile.simple
  docker-compose.simple.yml
  docker-entrypoint.sh
Due: prettier --write

fix: add ESM support for ts-node-dev in server
  server/package.json
  server/tsconfig.dev.json
Due: prettier --write

fix: update ESM configuration for server development
  docker-compose.simple.yml
  server/package.json
  server/tsconfig.dev.json
Due: prettier --write

fix: improve ESM configuration and add global ts-node installation
  Dockerfile.simple
  docker-compose.simple.yml
  server/package.json
  server/tsconfig.dev.json
Due: prettier --write

fix: simplify server ESM configuration and use direct ts-node loader
  Dockerfile.simple
  docker-compose.simple.yml
  server/package.json
  server/tsconfig.dev.json
Due: prettier --write

fix: simplify ts-node installation and add NODE_PATH to server environment
  Dockerfile.simple
  docker-compose.simple.yml
Due: prettier --write

fix: update TypeScript configuration for proper module resolution
  server/tsconfig.json
Due: prettier --write

fix: add proper ESM module resolution configuration
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: switch to tsx for TypeScript execution
  Dockerfile.simple
  server/package.json
Due: prettier --write

fix: simplify TypeScript configuration by using CommonJS and ts-node-dev
  Dockerfile.simple
  server/package.json
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: align server configuration with v0.1.0-builds-ok tag
  Dockerfile.simple
  server/package.json
  server/tsconfig.json
Due: prettier --write

fix: ensure shared package build runs from workspace root
  Dockerfile.simple
Due: none

fix: configure server for ESM modules with ts-node-dev
  server/package.json
  server/tsconfig.json
Due: prettier --write

fix: switch to tsx for TypeScript execution
  server/package.json
Due: prettier --write

fix: add __dirname and __filename polyfill for ES modules
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: remove require calls and simplify server startup logging
  server/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add simplified docker setup for development
  Dockerfile.server
  docker-compose.simple.yml
Due: prettier --write

fix: update environment variables format in docker-compose.simple.yml
  docker-compose.simple.yml
Due: prettier --write

fix: update environment variables format to array style in docker-compose.simple.yml
  docker-compose.simple.yml
Due: prettier --write

fix: simplify docker-compose.yml format and fix environment variables
  docker-compose.simple.yml
Due: prettier --write

fix: ensure correct platform-specific dependencies are installed in Docker
  Dockerfile.client
  Dockerfile.server
Due: none

fix: simplify dependencies installation and remove deprecated version from docker-compose
  Dockerfile.client
  Dockerfile.server
  docker-compose.simple.yml
Due: prettier --write

fix: switch to ts-node/esm loader for server development
  server/package.json
Due: prettier --write

fix: use ts-node/esm loader directly in Dockerfile and clean caches
  Dockerfile.server
Due: none

fix: improve ESM configuration and module resolution
  Dockerfile.server
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
